---
import ExamForm from "../exam/ExamForm.astro";
import Question from "../exam/Question.astro";
import RadioOption from "../exam/RadioOption.astro";
import CheckboxOption from "../exam/CheckboxOption.astro";
import ExamStyle from "../exam/ExamStyle.astro";
import {exam14Questions} from "../../data/exams/exam14.js";
import {correctRadioAnswers, correctCheckboxAnswers} from "../../data/exams/exam14.js";

export interface Props {
	title: string;
}

const {title} = Astro.props;
---

<ExamForm examId='14' title={title} correctRadioAnswers={correctRadioAnswers} correctCheckboxAnswers={correctCheckboxAnswers}>
	<p class='description'>
		Ce questionnaire final porte sur l'ensemble de la matière des cours 8 à 13. Il vous permet de réviser les concepts clés et de tester vos connaissances de manière synthétique.
	</p>

	{
		exam14Questions.map((q) => (
			<Question id={q.id} title={q.title} question={q.question} explanation={q.explanation}>
				{q.type === "radio" && q.options.map((option) => <RadioOption id={`${q.id}-${option.value}`} name={q.id} value={option.value} label={option.label} />)}
				{q.type === "checkbox" && q.options.map((option) => <CheckboxOption id={`${q.id}-${option.value}`} name={q.id} value={option.value} label={option.label} />)}
			</Question>
		))
	}

	<ExamStyle />
</ExamForm>
