---
import ExamForm from "../exam/ExamForm.astro";
import Question from "../exam/Question.astro";
import RadioOption from "../exam/RadioOption.astro";
import CheckboxOption from "../exam/CheckboxOption.astro";
import ExamStyle from "../exam/ExamStyle.astro";
import {exam14Questions} from "../../data/exams/exam14.js";
import {correctRadioAnswers, correctCheckboxAnswers} from "../../data/exams/exam14.js";

const title = "Examen final SVS-1705";
---

<ExamForm examId='14' title={title} correctRadioAnswers={correctRadioAnswers} correctCheckboxAnswers={correctCheckboxAnswers}>
	<p class='description'>Ce questionnaire porte sur le modèle de l'analyse et de l'intervention en travail social tel que présenté dans le cours.</p>

	{
		exam14Questions.map((q) => (
			<Question id={q.id} title={q.title} question={q.question} explanation={q.explanation}>
				{q.type === "radio" && q.options.map((option) => <RadioOption id={`${q.id}-${option.value}`} name={q.id} value={option.value} label={option.label} />)}
				{q.type === "checkbox" && q.options.map((option) => <CheckboxOption id={`${q.id}-${option.value}`} name={q.id} value={option.value} label={option.label} />)}
			</Question>
		))
	}

	<ExamStyle />
</ExamForm>
