---
import ExamForm from "../exam/ExamForm.astro";
import Question from "../exam/Question.astro";
import RadioOption from "../exam/RadioOption.astro";
import CheckboxOption from "../exam/CheckboxOption.astro";
import ExamStyle from "../exam/ExamStyle.astro";
import {exam08Questions} from "../../data/exams/exam08.js";
---

<ExamForm examId='exam08' title='Intervention sociale personnelle'>
	<p class='description'>Ce questionnaire porte sur l'intervention sociale personnelle, ses fonctions, méthodes et approches telles que présentées dans le cours.</p>

	{
		exam08Questions.map((q) => (
			<Question id={q.id} title={q.title} question={q.question} explanation={q.explanation}>
				{q.type === "radio" && q.options.map((option) => <RadioOption id={`${q.id}-${option.value}`} name={q.id} value={option.value} label={option.label} />)}
				{q.type === "checkbox" && q.options.map((option) => <CheckboxOption id={`${q.id}-${option.value}`} name={q.id} value={option.value} label={option.label} />)}
			</Question>
		))
	}

	<ExamStyle />
</ExamForm>
